#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  width: 1200px;
  background-color: #EAECF4;
}

.recharts-surface:focus {
  outline: none;
}

.recharts-sector:focus {
  outline: none;
}