--
-- PostgreSQL database dump
--

\restrict FvBlESEJKqe4b92crqbbIzg857g6eHHslxvETfmLk12tyiy8bEMbio2XCxFGWrG

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: category_types; Type: TABLE DATA; Schema: public; Owner: sqladmin
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public.category_types DISABLE TRIGGER ALL;

COPY public.category_types (id, created_at, updated_at, kind) FROM stdin;
00000001-0000-0000-0000-000000000001	2025-12-15 11:33:02.894667	2025-12-15 11:33:02.894667	INCOME
00000001-0000-0000-0000-000000000002	2025-12-15 11:33:02.894667	2025-12-15 11:33:02.894667	EXPENSE
00000001-0000-0000-0000-000000000003	2025-12-15 11:33:02.894667	2025-12-28 13:18:05.40599	GOALS
\.


ALTER TABLE public.category_types ENABLE TRIGGER ALL;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sqladmin
--

ALTER TABLE public.users DISABLE TRIGGER ALL;



ALTER TABLE public.users ENABLE TRIGGER ALL;

--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: sqladmin
--

ALTER TABLE public.categories DISABLE TRIGGER ALL;



ALTER TABLE public.categories ENABLE TRIGGER ALL;

--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: sqladmin
--

ALTER TABLE public.transactions DISABLE TRIGGER ALL;



ALTER TABLE public.transactions ENABLE TRIGGER ALL;

--
-- PostgreSQL database dump complete
--

\unrestrict FvBlESEJKqe4b92crqbbIzg857g6eHHslxvETfmLk12tyiy8bEMbio2XCxFGWrG

