.wrapper {
  background-color: #FDFFFE;
  -webkit-box-shadow: 1px 2px 22px 0px rgba(0,0,0,0.12);
  box-shadow: 1px 2px 22px 0px rgba(0,0,0,0.12);
  background-image: url('../../assets/home-page2.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 800px;
  padding: 40px;
  border-radius: 10px;
}