.categories-wrapper {
  /* width: 80%; */
  /* margin-left: auto; */
  /* margin-top: 40px; */
  padding: 40px;
  background-color: #FDFFFE;
  -webkit-box-shadow: 1px 2px 22px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 22px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;

  h1 {
    text-align: left;
  }
}